html {
  width: 100%;
}
body {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/Wallpaper.jpg");
}
#main {
  width: 900px;
  height: 90%;
  background-color: rgb(29, 197, 155, 0.5);
}
form {
  text-align: start;
  padding: 10px;
}
#name,
#email,
#number {
  width: 98%;
  height: 2em;
  border-radius: 4px;
}
.radioCheck {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1em;
}
@media only screen and (max-width: 1000px) {
  #main {
    width: 90%;
  }
}
#submit{
    width: 10em;
    height: 4em;
    color: rgb(209, 211, 198);
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(180, 66, 129);
}